* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: absolute;
    left: 1%;
    transform: translate(-50%, -50%);
}

nav .wrapper {
    position: absolute;
    top: 65px;
    display: flex;
    width: 400px;
    overflow-x: hidden;
    background: #242526;
    border-radius: 5px;
}

nav .wrapper ul {
    list-style: none;
    width: 400px;
    padding: 10px;
    transition: all 0.3s ease;
}

nav .wrapper ul li {
    line-height: 55px;
}

nav .wrapper ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
    align-items: center;
    border-radius: 8px;
}

nav .wrapper ul li:hover a {
    background: #3A3B3c;
}

.wrapper ul li a i {
    position: absolute;
    right: 10px;
    font-size: 25px;
    pointer-events: none;
}

nav .wrapper .detail-drop {
    display: none;
}

.wrapper .detail-drop .arrow {
    padding-left: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.wrapper .detail-drop .arrow span {
    margin-right: 15px;
}